<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>PodLinx</title>
    <link rel="stylesheet" href="../static/css/index.css" />
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img src="../static/logo.svg" alt="PodLinx logo"/>PodLinx
        </div>
        <ul class="navbar__login">
            <li class="navbar__login-item1"><a href="signin" class="navbar__link">Sign in</a></li>
            <li class="navbar__login-item2"><a href="login" class="navbar__link">Log in</a></li>
        </ul>
    </header>
    <main>
        <h1>Search for podcasts everywhere</h1>
        <div class="search_bar">
            <form action="" method="get">
                <!-- <button type="submit"><img src="Search_light.svg" alt=""></button> -->
                <button type="submit"><i class="fa fa-search"></i></button>
                <input type="text" name="search" autocomplete="off">
            </form>
        </div>          
    </main>
    <footer>
        <img src="../static/podcasts.png" alt="podcasts covers">
    </footer>
</body>
</html>